{% extends "base.html" %}

{% block content %}

<div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
    <div class="card-header">Login</div>
                <div class="card-body">
                  <h5 class="card-title">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="notification is-danger">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                        {% endwith %}
                  </h5>

<form method="POST" action="/login">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" name="name" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="checkbox">
          <label class="form-check-label" for="checkbox">Remember me</label>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>

</div>
</div>

{% endblock %}